/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* -------------------------------- */
/* Секция 5 - Меню */
/* -------------------------------- */

.menu {
    background: url('../img/bg-menu.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.menu__title {
    position: absolute;
	top: 13%;
    left: 9%;
    color: white;
    font-size: 72px;
    font-family: "Gagalin", Arial, sans-serif;
    
    @media screen and (max-width: 768px) {
        top: 8%;
        left: 3%;
    }
    @media screen and (max-width: 480px) {
        top: 5%;
        left: 13%;

        .section-title {
            font-size: 50px;
        }
    }

}

.menu__content {
    position: absolute;
    top: -7px;
    right: 0;
    bottom: -1px;
}
.menu-acco {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

.menu-acco__wrap-title {

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 50px;
    } 
    @media screen and (max-width: 480px) {       
        margin-bottom: 70px;
    } 
}

.menu-acco__title {
    cursor: pointer;
    width: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        width: 80px;     
        display: block;
        height: 100%;        
        position: absolute;
    }

    @media screen and (max-width: 768px) {
        align-items: flex-end;        
    } 
    @media screen and (max-width: 480px) {
        align-items: flex-end;     
    } 

    &:hover {
        .menu-acco__deg { 
            opacity: 1;
            color: #f9b43b;
        }
    }

}

.menu-acco__deg {    
    white-space: nowrap;
    transform: rotate(-90deg);  
    opacity: .85;
    font-family: "Gagalin", Arial, sans-serif;;
    font-size: 40px;
    line-height: 64px;
    color: white;

    @media screen and (max-width: 768px) {
        margin-bottom: 2200%;      
    } 
    @media screen and (max-width: 767px) {
        margin-bottom: 377px;  
    } 

}

.menu-acco__wrap-content {
    width: 0;
    overflow: hidden;
    transition: .5s;
}

.menu-acco__content {
    background: rgba(47,50,52,0.9);
    display: flex;   
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: calc(61vw / 2);
    // width: 100vw; 

    @media screen and (max-width: 768px) {
        width: calc(100vw - 72px * 3);
    }
    @media screen and (max-width: 480px) {
        width: calc(100vw - 45px * 3);
    } 

}

.menu-acco__item.menu-acco__item-active 
.menu-acco__wrap-content {

    @media screen and (max-width: 768px) {
        width: auto;
    }

 }

.menu-acco__desc {
    color: #fff;
    margin-top: 20%;
    line-height: 24px;
    font-size: 14px;
    padding-left: 25px;
    position: relative;
    right: 2%;
    
  @media screen and (max-width: 768px) {
    width: 90%;   
    font-size: 14px; 
    line-height: 26px;   
    right: 2%;
  } 
  @media screen and (max-width: 480px) {
    line-height: rem(26px);
    font-size: rem(14px);
  }
  @media screen and (max-width: 360px) {
    line-height: rem(20px);
    font-size: rem(14px);
  }
  
}

/* ----------- */

.container-menu {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 1%;
    max-height: 100vh;
    min-height: 100%;
    height: 100%;
}
.panel-menu {
    margin-bottom: 5px;
    
}
.panel-title-menu {
    padding: 10px 45px;
    font-size: 16px;
    color: #333;
    border-radius: 4px;
    font-family: 'Helvetica';
    font-weight: 300;
    cursor: pointer;
    margin-bottom: 5px;

    @media screen and (max-width: 768px) {
        padding: 10px 28px;   
    } 
    @media screen and (max-width: 480px) {
        padding: 10px 15px;  
    } 

}
  .panel-body-menu {
    display: none;

/*
    padding: 15px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 10px;
    background: #fff;
*/
    
  }
  .panel-active-menu 
  .menu-acco__deg {
    color: #f9b43b;
    opacity: 1;
  }
  .active-menu {
    display: block;
  }

 .group-x {
    display: none;
  }

  /* ------------------------------------------------------------ */
  /* ------------------------------------------------------------ */